<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <a href="/polaznikProgrami" class="btn btn-info"><i class="fa fa-list"></i> Moji programi</a>
            <a href="/logout" class="btn btn-info"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
        <h2><i class="fa fa-graduation-cap"></i> <%= user.ime +' '+ user.prezime %></h2>
        <div class="col-md-6">
            <p>Klikom na link "Moji programi" vidit ćete listu programa u koje ste trenutno upisani.</p>
            <p>Za upis u novi program kliknite na upiši u donjem popisu programa.</p>
            <% if(message.length > 0) { %>
                <h4 class="text-danger"><i class="fa fa-exclamation-triangle "></i><b> <%= message %></b></h4>
            <% } %>
        </div>
    </div>
    <div class="col-md-12">
        <div class="empty"></div>
        <h2>Dostupni programi</h2>
        <table class="table table-striped">
            <tr class="danger">
                <td><b>Naziv</b></td>
                <td><b>Broj upisanih</b></td>
                <td><b>Termin</b></td>
                <td><b>Prostorija</b></td>
                <td><b>Predavač</b></td>
                <td><b>Upiši</b></td>
            </tr>
            <% sviProgrami.forEach(function(program) { %>
            <tr>
                <td><%= program.naziv %></td>
                <td><%= program.broj_upisanih %></td>
                <td><%= program.termin %></td>
                <td><%= program.prostorije %></td>
                <td><%= program.ime %>  <%= program.prezime %></td>
                <td><a href="/classEnrole/<%= program.program_id%>" id="<%= program.program_id %>" title="Upiši se u program" id="enroleButton" class="btn btn-success">Upiši</a></td>
            </tr>
            <% }) %>
        </table>
    </div>
    <% if(upisaniProgrami.length <= 0) { %>
    <div class="col-md-12">
        <div class="empty"></div>
        <h2>Nemate upisanih programa</h2>
    </div>
    <% } else { %>
    <div class="col-md-12">
        <div class="empty"></div>
        <h2>Upisani programi</h2>
        <table class="table table-striped">
            <tr class="info">
                <td><b>Naziv</b></td>
                <td><b>Broj upisanih</b></td>
                <td><b>Termin</b></td>
                <td><b>Prostorija</b></td>
                <td><b>Predavač</b></td>
                <td><b>Upiši</b></td>
            </tr>
            <% upisaniProgrami.forEach(function(program) { %>
                <tr>
                    <td><%= program.naziv %></td>
                    <td><%= program.broj_upisanih %></td>
                    <td><%= program.termin %></td>
                    <td><%= program.prostorije %></td>
                    <td><%= program.ime %>  <%= program.prezime %></td>
                    <td><a href="/classUnrole/<%= program.program_id%>" id="<%= program.program_id %>" title="Ispiši se iz programa" id="unroleButton" class="btn btn-danger">Ispiši</a></td>
                </tr>
            <% }) %>
        </table>
    </div>
    <% } %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
